doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content)
        meta(name='author', content)

        title Contact & Socials

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.png')

        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page content
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Contact me & Socials
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Email
                            .card.overflow-auto.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-3
                                        img.img-fluid(src='assets/logos/logo-gmail.png', alt='logo del servicio de envío de correos electrónicos Gmail')
                                        .p-3(style="margin-left: 30px;")
                                            h1.fw-bolder.justify-content-center Gmail
                                            p
                                            p
                                            h2.fw-bolder.mb-6.text-gradient lmerinoulizarna@gmail.com
                                            a.btn.btn-primary.btn-xxs.gradient-button.px-4.py-3(href='mailto:lmerinoulizarn@gmail.com', style='color:white; font-weight: bold; margin-top:40px;')
                                                .d-inline-block.px-1.bi.bi-envelope
                                                | Enviar
                            //Linkedin
                            .card.overflow-auto.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-3
                                        img.img-fluid(src='assets/logos/logo-linkedin.png', alt='logo de la red social LinkedIn')
                                        .p-3(style="margin-left: 30px;")
                                            h1.fw-bolder.justify-content-center LinkedIn
                                            p
                                            p
                                            h2.fw-bolder.mb-6.text-gradient Luis Merino Ulizarna
                                            a.btn.btn-primary.gradient-button.px-4.py-3.p-5(href='https://www.linkedin.com/in/luis-merino-ulizarna/', style='color:white; font-weight:bold; margin-top:40px;')
                                                .d-inline-block.px-1.bi.bi-linkedin
                                                | Perfil
                            //Twitter
                            .card.overflow-auto.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-3
                                        img.img-fluid(src='assets/logos/logo-twitter.png', alt='logo de X (antiguamente Twitter)')
                                        .p-3(style="margin-left: 30px;")
                                            h1.fw-bolder.justify-content-center Twitter
                                            p
                                            p
                                            h2.fw-bolder.mb-6.text-gradient @luismeruli
                                            a.btn.btn-primary.gradient-button.px-4.py-3(href='https://twitter.com/luismeruli', style='color:white; font-weight:bold; margin-top:40px;')
                                                .d-inline-block.px-1.bi.bi-twitter
                                                | Perfil
                            //Adictos
                            .card.overflow-auto.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-3
                                        img.img-fluid(src='assets/logos/logo-adictos.jpeg', alt='logo del portal adictos al trabajo')
                                        .p-3(style="margin-left: 30px;")
                                            h1.fw-bolder.justify-content-center Adictos al trabajo
                                            p
                                            p
                                            h2.fw-bolder.mb-6.text-gradient Tutoriales sobre inteligencia artificial
                                            a.btn.btn-primary.gradient-button.px-4.py-3(href='https://www.adictosaltrabajo.com/author/luis-merino-ulizarna/', style='color:white; font-weight:bold; margin-top:40px;')
                                                .d-inline-block.px-1.bi.bi-vector-pen
                                                | Ir al sitio

                            //GitHub
                            .card.overflow-auto.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-3
                                        img.img-fluid(src='assets/logos/logo-github.png', alt='logo de GitHub, alojamiento remoto de código')
                                        .p-3(style="margin-left: 30px;")
                                            h1.fw-bolder.justify-content-center GitHub
                                            p
                                            p
                                            h2.fw-bolder.mb-6.text-gradient Mis repositorios
                                            a.btn.btn-primary.gradient-button.px-4.py-3(href='https://github.com/luismerinou', style='color:white; font-weight:bold; margin-top:40px;')
                                                .d-inline-block.px-1.bi.bi-github
                                                | GitHub

        include includes/footer.pug
