doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Luis´s projects

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.png')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Proyecto fin de grado
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Proyecto de fin de grado
                                            p
                                            p
                                            p Uso de una red neuronal para la detección de cáncer de tipo melanoma
                                            a.btn.btn-primary.gradient-button.px-4.py-3(href='https://oa.upm.es/71361/1/TFG_LUIS_MERINO_ULIZARNA.pdf', style='color:white')
                                                .d-inline-block.bi.bi-eye
                                                | Ver proyecto
                                        img.img-fluid(src='assets/upm-logo.png', alt='...')

                            // Trabajo fin de master
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Trabajo fin de máster
                                            p
                                            p
                                            p Predicción de diabetes de tipo 2 mediante varios algoritmos basados en aprendizaje automático o machine learning
                                            a.btn.btn-primary.gradient-button.px-4.py-3(style='color:white')
                                              .d-inline-block
                                              | Próximamente
                                        img.img-fluid(src='assets/cemp-logo.jpeg', alt='...')

                            //Charla atención hospitalaria
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Charla Atención hospitalarIA del futuro
                                            p
                                            p
                                            p Bibliografía de la charla introductoria sobre cómo la inteligencia artificial va a impactar y está impactando en la atención hospitalaria.
                                            a.btn.btn-primary.gradient-button.px-4.py-3(href='assets/Atención hospitalarIA del futuro.pdf', style='color:white')
                                              .d-inline-block.bi.bi-eye
                                              | Ver archivo
                                        img.img-fluid(src='assets/estanteria.png', alt='...')
                            //AI Roadmap
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Autentia Open Space
                                            p
                                            p
                                            p Este documento tiene la intención de recoger y ampliar toda la información de la charla incluidos ejemplos, documentación, noticias y recursos de aprendizaje para aquellas personas que quieran dar sus primeros pasos en el desarrollo de la inteligencia artificial.
                                            a.btn.btn-primary.gradient-button.px-4.py-3(href='assets/AI-Roadmap.pdf', style='color:white')
                                              .d-inline-block.bi.bi-eye
                                              | Ver archivo
                                        img.img-fluid(src='assets/mapa-vial.png', alt='...')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
