doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Luis´s CV

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.png')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Curriculum vitae
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder Experiencia ⚒️
                                // Download resume button
                                // Note: Set the link href target to a PDF file within your project
                                a.btn.btn-primary(href='assets/CV-Luis-Merino-Ulizarna.pdf', style='color:white')
                                    .d-inline-block.bi.bi-download.me-2
                                    |CV

                            // Junior SE
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Junior Software Engineer
                                                .text-primary.mb-2   Nov 2022 - Actualidad
                                                .small.text-muted-bolder Autentia Real Business Solutions S.L.
                                                .small.text-muted Madrid, España
                                        .col-lg-8.text-center
                                            div Principalmente involucrado en desarollos Java. He usado frameworks como SpringBoot o Micronaut en Java y Kotlin. Con Docker y Testcontainers para la realización de tests automatizados.
                                            p
                                            p   En entorno bancario y en el de energías renovables, también he tenido la oportunidad de participar en proyectos con pipelines de integración continua (Jenkins/Github Actions) así como con Maven o la suite de Atlassian como herramienta de gestión de proyectos.

                            // Internship
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Student internship
                                                .text-primary.mb-2 Feb 2022 - Jul 2022
                                                .small.text-muted-bolder Autentia Real Business Solutions S.L.
                                                .small.text-muted Madrid, España
                                        .col-lg-8.text-center
                                            div Estuve en el equipo de desarrollo de herramientas internas de la empresa usando Java, Kotlin, SpringBoot y Micronaut. Aprendiendo sobre buenas prácticas de desarrollo, testing como TDD y arquitecturas limpias como la arquitectura hexagonal.

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Educación🧑🏼‍🎓
                            
                            // Bioestadística
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 Máster en Bioestadística y Bioinformática
                                                .text-secondary Febrero 2024
                                                .mb-2
                                                    .small.fw-bolder CEMP
                                                    .fst-italic.small.text-muted A distancia
                                        .col-lg-8.text-center
                                            div  A la espera de comenzar mis estudios en el campo de la bioinformática para comprender mejor la relación entre la biología y la informática con el objetivo de poder potenciar la investigación en este campo.

                            // IA Salud
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 Máster en aplicaciones de la IA a la sanidad
                                                .text-secondary Nov 2022 - Actualidad

                                                .mb-2
                                                   .small.fw-bolder CEMP
                                                   .fst-italic.small.text-muted A distancia
                                        .col-lg-8.text-center
                                            div Actualmente estudiando todas las potenciales aplicaciones de modelos de inteligencia artificial al sector sanitario e investigación médica así como a la prevención de enfermedades
                            // UPM
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 Grado en Ingeniería del Software
                                                .text-secondary 2017 - 2022

                                                .mb-2
                                                   .small.fw-bolder Universidad Politécnica de Madrid (UPM)
                                                   .fst-italic.small.text-muted Campus Sur
                                        .col-lg-8.text-center
                                            div.fw-bolder Sobresaliente (10) en Trabajo Fin de Grado:
                                            div.fst-italic Uso de una red neuronal convolucional para la detección de cáncer de tipo melanoma.
                                            p
                                            div.fw-bolder Matrícula de honor:
                                            p Construcción y Diseño de Interfaces Gráficas de Usuario

        // Footer
        include includes/footer.pug

        include includes/scripts.pug